@charset "UTF-8";

body{
    background-color: rgb(123, 147, 212);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 37, 127);
}
h1#principal{
    text-align: center;
    background-color: aliceblue;
    color: lightsalmon;
}

h2 {
   color: lightblue;
}

.basico{
    color: green;
     }

.intermediario{
color: yellow;
}

.avançado{
color: red;
}

.destaque{
    background-color: bisque;
}
